{% include 'header.html' %}
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    <header> 
        <div class="container">
            <div class="tunnel-header">
                <a href="index.html"><img src="https://www.aht.li/3765662/banniere-bleue-de-telecommunication-mondiale-avec-le-reseau-121125501.jpg" alt="image_techno_web_futuristique"></a>
            </div>
        </div>
    </header>
    {% include 'nav.html' %}
<div class="page">
    <h1>Vous pouvez ajouter un type de NAT</h1>
    <form action="#">
        <div class="form-nat">
            <input type="text" placeholder="Type de nat" name="type_nat" id="type_nat" class="form-control" required>
        </div>
        <div class="form-nat">
            <textarea placeholder="description du nat" name="desc_nat" id="desc_nat" class="form-cont" required></textarea>
        </div>
        <div class="center">
            <input type="submit" value="Envoyer" class="bn632-hover bn24">
        </div>
    </form>
</div>
<footer>
    <p class="text-footer">made by Pierry BENOIT</p>
</footer>
</div>
</body>
</html>