{% include 'header.html' %}

<body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>
       
       <header> 
        <div class="container">
            <div class="tunnel-header">
                <a href="index.html"><img src="https://www.aht.li/3765662/banniere-bleue-de-telecommunication-mondiale-avec-le-reseau-121125501.jpg" alt="image_techno_web_futuristique"></a>
            </div>
        </div>
    </header>

    {% include 'nav.html' %}
<div class="page" onload="send_request();">
    <h1>Les noms / adresses ip / ports des differents serveurs</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>nom du serveur</td>
                <td>IP</td> 
                <td>ports</td>
                <td>Alias</td>
            </tr>
            <!---<tr onclick="display_text(this);">
                <td>Serveur 1 </td>
                <td>10.0.0.254</td>
                <td>22</td>
                <td>Serv1</td>
            </tr>
            <tr onclick="display_text(this);">
                <td>Serveur 2</td>
                <td>10.0.0.253</td>
                <td>22</td>
                <td>Serv2</td>
            </tr>
            <tr onclick="display_text(this);">
                <td>Serveur 3</td>
                <td>10.0.0.252</td>
                <td>22</td>
                <td>Serv3</td>
            </tr>-->
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
</div>
<script src="/static/alias.js"></script>
</body>
</html>