{% include 'header.html' %}

<body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>

        <header> 
            <div class="container">
                <div class="tunnel-header">
                    <a href="index.html"><img src="https://www.aht.li/3765662/banniere-bleue-de-telecommunication-mondiale-avec-le-reseau-121125501.jpg" alt="image_techno_web_futuristique"></a>
                </div>
            </div>
        </header>
        <div class="page">
            <form action="/autentification" method="post">
                <div>
                    <label for="Login">Login :</label>
                    <input type="text" id="login" name="login">
                </div>
                <div>
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="form-example">
                    <input type="submit" value="Subscribe!">
                </div>
            </form>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>


