{% include 'header.html' %}

<body class="">
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>

        <header> 
            <div class="container">
                <div class="tunnel-header">
                    <a href=""><img src="https://www.aht.li/3765662/banniere-bleue-de-telecommunication-mondiale-avec-le-reseau-121125501.jpg" alt="image_techno_web_futuristique"></a>
                </div>
            </div>
        </header>
        
        <div class="page autentification">
            <form action="/autentification" method="post">
                <div class="form-nat">
                    <input placeholder="Login" type="text" id="login" name="login">
                </div>
                <div class="form-nat">
                    <input placeholder="Password" type="password" id="password" name="password">
                </div>
                <div class="center">
                    <input type="submit" value="se connecter" class="bn632-hover bn24">
                </div>
            </form>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>


