<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"/>
    <link rel="icon" href="https://www.aht.li/3715850/SM_icon.ico"/>
    <script src="event.js"></script>
    <title>le meilleur site web du monde</title>
</head>
<body>
    <div>
       <div class="wave"></div>
       <div class="wave"></div>
       <div class="wave"></div>

        <header> 
            <div class="container">
                <div class="tunnel-header">
                    <a href="index.html"><img src="https://www.aht.li/3765662/banniere-bleue-de-telecommunication-mondiale-avec-le-reseau-121125501.jpg" alt="image_techno_web_futuristique"></a>
                </div>
            </div>
        </header>

        <div class="nav-bar">
            <nav>
                <a href="index.html">Accueil</a>
                <a href="Alias.html">Alias des serveurs</a>
                <a href="nat.html"> Les règles du nat</a>
            </nav>
        </div>
        <div class="page">
            <div class="">
                <h1 class="h1">Le plus beau site du monde</h1>
                <p class="">c'est faux</p>
            </div>
            <h3 class="">les informations du systême</h3>
            <p class="">Nom de l'appareil :	LAPTOP-RC5URH6V <br>
            Processeur :	AMD Ryzen 7 5800H with Radeon Graphics 3.20 GHz <br>
            Mémoire RAM installée :	16,0 Go (15,4 Go utilisable) <br>
            ID de périphérique : 8A3A2989-ED10-4514-BC62-2AA3B7EAED47 <br>
            ID de produit :	00325-82237-37031-AAOEM <br>
            Type du système	Système d'exploitation 64 bits, processeur x64 <br>
            Stylet et fonction tactile	La fonctionnalité d'entrée tactile ou avec un stylet n'est pas disponible sur cet écran <br>
            </p>
        </div>
        <footer>
            <p class="text-footer">made by Pierry BENOIT</p>
        </footer>
    </div>
</body>
</html>